body{
  margin: 2em;
  background: #B399A2;
  max-width: 50em;
}

h1{
  font-size: 2em;
}

h2{
  font-size: 1.5em;
}

a{
  color: #AEE0EA;  
}

pre{
  overflow: scroll;
  background: #986C6A;
  margin: 0.5em;
  padding: 0.5em;
}

.inline{
  color: #422B24;
}

ul{
  margin: 0.5em;
}
